.main-frame {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}
.header-content {
    padding: 0;
    background: #2C95DD;
}
.header-content h1 {
    font-weight: 200;
    font-size: 2em;
    color: #FFF;
}
.body-content {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.left-content {
  width: 200px;
}

.center-content {
    flex: 1;
    border-right:1px solid #4a4c4d;
    overflow: auto;
}

.right-content {
    flex: 1;
}
 
 
 .thumbnail {
 	height: 200px !important;
 	width: 200px;
 }
 
 .btn-droppable {
 	width: 160px;
 	height: 30px;
 }
 
 .btn-draggable {
 	width: 120px;
 }
 
 .span3 {
 	padding: 2em;
 }
 
 p {
 	clear: both;
 	float: left;
 }
 
 #droppableContainers {
 	clear: both;
 	float: left;
 	margin-bottom: 10px;
 	width: 1000px;
 }
 
 #droppableContainers li {
 	float: left;
 	height: 150px;
 	margin-bottom: 100px;
}
.active{
    background: #4a4c4d;
    opacity: 0.3;
}


.title {
    color: blue;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 500px;
    height: 300px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-out;
    background: #fff;
    border: 2px solid;
}

.game.competing {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.swimming {
    background-image: url(/app/img/swimming.jpeg);
    background-size: cover;
}

.track {
    background-image: url(/app/img/track.jpeg);
    background-size: cover;
}

.fencing {
    background-image: url(/app/img/fencing.jpeg);
    background-size: cover;
}
.gymnastics {
    background-image: url(/app/img/gymnastics.jpeg);
    background-size: cover;
}
.weightlifting {
    background-image: url(/app/img/weightlifting.jpeg);
    background-size: cover;
}


.winner {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    opacity: 0;
    transition: opacity 1s ease-out;
}
.winner.showWinner {
    opacity: 1;
}
